<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <a class="navbar-brand" href="#" style="font-size:35px">Peertag</a>
    </div>
    <!-- <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div> -->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" style="font-size:17px;color: azure">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="font-size:17px;color: azure;">Contact</a>
            </li>
        </ul>
    </div>
</nav>











<div class="app-body">
  
  <main class="main d-flex align-items-center">
    
    <div class="container"><br><br>
      <div class="row" >
          <div class="col-md-6 mx-auto">
            
          </div>
        </div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
              <p class="alert alert-success" *ngIf="show_card">
                  <strong>Registration Success!</strong>&nbsp;You will be redirected in {{timeLeft}} Seconds....
          
              </p>
            <div class="card-body p-4">
              <form [formGroup]="registration" (ngSubmit)="onSubmit();">
                <h2 style="text-align:center;">Register with PeerTag</h2>
                <p class="text-muted" style="text-align:center;">Create your account</p><hr>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="First Name" autocomplete="on" 
                  formControlName="firstname" [class.is-invalid]="firstname.invalid && firstname.touched" required>&nbsp;&nbsp;&nbsp;
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Last Name" autocomplete="on" 
                    formControlName="lastname" required>
                </div>
                <!-- First name validation render -->
                <div *ngIf="firstname.invalid && firstname.touched">
                    <div *ngIf="firstname.errors?.required" class="alert alert-danger" role="alert">
                        First Name Is Required
                      </div>

                      <div *ngIf="firstname.errors?.minlength" class="alert alert-danger" role="alert">
                          Minimum 3 letters required for first name
                        </div>

                </div>
                <!-- Last name validation render -->

                <div *ngIf="lastname.invalid && lastname.touched">
                    <div *ngIf="lastname.errors?.required" class="alert alert-danger" role="alert">
                        Last Name Is Required
                      </div>

                      <div *ngIf="lastname.errors?.minlength" class="alert alert-danger" role="alert">
                          Minimum 3 letters required for last name
                        </div>

                </div>
                

                <!-- <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Last Name" autocomplete="on" 
                    formControlName="lastname" required>
                  </div> -->

                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="cui-phone "></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Personal Mobile Number" autocomplete="on" formControlName="personalmobile" required>
                    </div>
                    <!-- Mobile Validation Render -->
                <div *ngIf="mobile.invalid && mobile.touched">
                    

                    <div *ngIf="mobile.errors?.invalidMobileNumber" class="alert alert-danger" role="alert">
                        Enter valid Mobile Number
                      </div>

              </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="cui-home "></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Study Room Name" autocomplete="on" formControlName="studyroomname" required>
                      </div>

                      <!-- Study Room Validation Render -->

                      <div *ngIf="studyroomname.invalid && studyroomname.touched">
                          <div *ngIf="studyroomname.errors?.required" class="alert alert-danger" role="alert">
                              study room  name Is Required
                            </div>
      
                            <div *ngIf="studyroomname.errors?.minlength" class="alert alert-danger" role="alert">
                                Minimum 3 letters required for study room name
                              </div>
      
                      </div>

                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="cui-globe "></i></span>
                          </div>
                          <select class="form-control" id="sel1">
                              <option>City</option>
                              <option>Pune</option>
                              <option>Mumbai</option>
                              <option>Delhi</option>
                            </select>
                        </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email Id" autocomplete="email" formControlName="email" required>
                </div>
                <!-- Email Validation Render -->
                <div *ngIf="email.invalid && email.touched">
                    

                      <div *ngIf="email.errors?.invalidEmailAddress" class="alert alert-danger" role="alert">
                          Enter valid email
                        </div>

                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" autocomplete="new-password" 
                  formControlName="password" required>&nbsp;&nbsp;&nbsp;

                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirm Password" autocomplete="new-password" formControlName="confirmPassword" required><br>
                    <input type="file" formControlName="test_file">

                </div>
                <br>
                <div style="text-align:center;">
                    <re-captcha style="display:inline-block;" (resolved)="resolved($event)" siteKey="6LeZ2qUZAAAAAGWmCP1vZicerPVvAlgiTvx6zzW6"></re-captcha> 

                </div>
              
                <br>

                <!-- <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Confirm Password" autocomplete="new-password" formControlName="confirmPassword" required>
                </div> -->
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
              <hr>
              <h5 style="text-align:center;">Already have an account? </h5><br>
              <div class="row" >
                  <div class="col-4"></div>
                <div class="col-4 ">
                    <button type="button" class="btn btn-outline-success  btn-block" onclick="window.location.href='/#/login'">Log In</button>
                </div>
                <!-- <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div> -->
              </div>


            </div>
            
              
            
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
