<div class="animated fadeIn">
        <div class="row">
          <div class="col">
            <div class="card" style="margin-bottom: 1rem">
              
              <div class="card-body">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #345f64;">
                  <a class="navbar-brand" href="#" style="font-size: 20px;color: bisque">PeerTag</a>
                  <button aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="navbar-toggler" type="button" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
      
                  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: bisque;font-size: 15px">SignIn <span class="sr-only"></span></a>
                      </li>
                      <li class="nav-item dropdown" dropdown>
                        <a id="link-dropdown" class="nav-link dropdown-toggle" href dropdownToggle (click)="false" aria-controls="your-dropdown">
                          Dropdown
                        </a>
                        <div id="your-dropdown" class="dropdown-menu" aria-labelledby="link-dropdown" *dropdownMenu>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" [formGroup]="hello">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      